

.linha{
    border: solid 1px #2155a8;
    text-align: center;
    margin-top: 10px;
    
  } 

body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

main { margin-top: 280px;
  background-color: white;
  
}

/* gambiarra para o header ficar sem bug */

.header-upper {
    z-index: 999;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.header-upper iframe {
  height: 280px;
}

 .header-upper iframe:hover {
    height: 500px;
} 
#infosection button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #0b0b0b;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: #aaabb0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 2%;
    margin-left: 45%;
    margin-bottom: 2%;
}

#a1 {
  width: 70%;
}


@media (max-width: 768px) {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      }

  div {
      grid: none;
      }
  
     
  #some {
      display: none;
     }
  
  #a2 {
      display: flex;
      flex-direction: column;
      }
  
  .link-block .sub1 {
      font-size: 30px;
      }
  main{
      display: flex;
      flex-direction: column;
     }

  .webinar-grid {
      display: flex;
      flex-direction: column;
      width: 70%;
  }

  .link-block  {
      flex-direction: column;
      margin: 10%;
      width: 50%;
      
  }

  #bnt1 {
      margin-top: 100px;
  }
  
  body {
  background-color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  
  main {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  box-shadow: 6px 6px 10px #000;
  border-radius: 10px;
  /* width: calc(100% / 3); */
}

.cards .card h3 {
  margin: 10px 0 5px 0;
}

.cards .card span {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.card .user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.stars {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

@media (max-width: 768px) {
aside {
  display: none;
}
#a1 {
  width: 100%;
  height: 100%;
  }

  .link-block {
  position: relative;
  width: 70%;
  height: 80%;
  text-align: center;
  margin-bottom: 3rem;
  justify-content: baseline;
}

.depoiments .cards .card p {
  font-style: italic;
  font-size: 13px;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 0;
  margin-bottom: -5px;
  margin-top: 20px;
}

.cards {
  display: flex;
  margin: 0;
}

.cards .card {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  box-shadow: 6px 6px 10px #000;
  border-radius: 10px;
  width: 100%;
}

.cards .card h3 {
  margin: 0;
}

.cards .card span {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}

.card .user {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.stars {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

/* fix footer */
footer iframe {
  margin-bottom: -5px;
}


#elenco {
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.container2 {
  text-align: center;
}
}
}