/* padronização site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* estilização fonte do body */
body {
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* estilização parágrafo */
p {
    color: #bbb;
    justify-content: center;
    margin-bottom: 100px;
}

/* estilização div pai */
.container {
    max-width: 1170px;
    margin: auto;
}

/* estilização div filha */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* estilização footer */
.footer {
    background-color: #282d32;
    padding: 70px 0;
}

/* estilização menu footer */
.footer-col {
    width: 25%;
    padding: 0 15px;
    margin-left: 10px;
}

/* h4 do footer */
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;

    height: 2px;
    width: 50px;
}

/* linha abaixo dos itens */
.fotter-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
    margin: 7px;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}

/* estilização dos links do follow us */
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* responsividade */

@media (max-width:600px) {
    footer {
        display: flex;
        flex-direction: column;
        max-height: 600px;
    }
    #some {
        display: none;
    }
    .footer-col h4 {
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        margin-top: 0;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
    }
}